.galeria {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.section__galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galeria__imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



/* modal-galeria */
.myImg {
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1010;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
    background: #181c2bc9;
}
.modal-contents {
    margin: auto;
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 600px;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cerrar {
	cursor: pointer;

}
footer{
    padding-top: 2rem;
}